<html>
<head>
   <style>
      body {
         display: flex;
         min-height: 100vh;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         font-family: 'Times New Roman', Times, serif;
         font-size: 20px;
         background: linear-gradient(to bottom, #00d2ff, #928dab);
         color: #fff;
      }
      h1 {
         text-transform: uppercase;
      }
   </style>
</head>
<body>
   <h1>Home page</h1>
   <p>Hello it's a site home page</p>
</body>
</html>